extends ../Templates/Base

block Declaration
    -fileAlias = 'contact'
    -mainMenuPath = ['KONTAKT']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.section.ideaBlock--bgKontakt
            .ideaBlock_size.ideaBlock_size--small
                h1.ideaBlock_title.tlt Kontakt
                .ideaBlock_justify
                    .ideaBlock_left
                        .ideaBlock_left-item
                            .ideaBlock_icon.ideaBlock_icon--hand.ideaBlock_icon--inline
                            .ideaBlock_information
                                .ideaBlock_information-people
                                    div
                                        .ideaBlock_information-title Kontakt w sprawie partnerstw i sponsoringów
                                        .ideaBlock_information-name Martyna Anna Śpiewak
                                        .ideaBlock_information-prof Managing Director
                                    div
                                        .ideaBlock_information-phone tel:&nbsp;
                                            a(href="tel:+48 600 449 398")
                                                b +48 600 449 398
                                        .ideaBlock_information-mail e-mail:&nbsp;
                                            a(href='mailto:martyna.spiewak@e-quality.eu') martyna.spiewak@e-quality.eu
                                .ideaBlock_information-people
                                    div
                                        .ideaBlock_information-name Łukasz Piechota
                                        .ideaBlock_information-prof New Business Director
                                    div
                                        .ideaBlock_information-phone tel:&nbsp;
                                            a(href="tel:+48 516 163 093")
                                                b +48 516 163 093
                                        .ideaBlock_information-mail e-mail:&nbsp;
                                            a(href='mailto:lukasz.piechota@e-quality.eu') lukasz.piechota@e-quality.eu

                        .ideaBlock_left-item
                            .ideaBlock_icon.ideaBlock_icon--micro.ideaBlock_icon--inline
                            .ideaBlock_information
                                .ideaBlock_information-people
                                    div
                                        .ideaBlock_information-title Kontakt dla mediów
                                        .ideaBlock_information-name Marcin Hołota
                                        .ideaBlock_information-prof Head of Strategy
                                    div
                                        .ideaBlock_information-phone tel:&nbsp;
                                            a(href="tel:+48 606 657 514")
                                                b +48 606 657 514
                                        .ideaBlock_information-mail e-mail:&nbsp;
                                            a(href='mailto:marcin.holota@e-quality.eu') marcin.holota@e-quality.eu

                        .ideaBlock_left-item
                            .ideaBlock_icon.ideaBlock_icon--clipboard.ideaBlock_icon--inline
                            .ideaBlock_information
                                .ideaBlock_information-people
                                    div
                                        .ideaBlock_information-title Kontakt w sprawie rezerwacji
                                        .ideaBlock_information-name Piotr Kycko
                                        .ideaBlock_information-prof Project Manager
                                    div
                                        .ideaBlock_information-phone tel:&nbsp;
                                            a(href="tel:+48 792 189 002")
                                                b +48 792 189 002
                                        .ideaBlock_information-mail e-mail:&nbsp;
                                            a(href='mailto:piotr.kycko@e-quality.eu') piotr.kycko@e-quality.eu

                    .ideaBlock_right
                        .ideaBlock_left-item
                            .ideaBlock_icon.ideaBlock_icon--place.ideaBlock_icon--inline
                            .ideaBlock_information
                                .ideaBlock_information-people
                                    div
                                        .ideaBlock_information-name e-Quality sp. z o.o.
                                        br
                                        .ideaBlock_information-prof Skylight
                                        br
                                        .ideaBlock_information-prof ul. Złota 59, 00-120 Warszawa
                                    div
                                        .ideaBlock_information-mail e-mail:&nbsp;
                                            a(href='mailto:biuro@e-quality.eu') biuro@e-quality.eu