extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Ochrona peryferiów, czyli jak zabezpieczać frmowe urządzenia z dostępem do sieci
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Integralnym elementem nowego etapu rozwoju frm, znanym jako Przemysł 4.0, jest koncepcja Przemysłowego Internetu Rzeczy. Zintegrowanie z siecią maszyn i pojazdów pozwala frmom czerpać korzyści z optymalizacji procesów produkcyjnych. Rozwiązania oparte o internet rzeczy pozwalają kontrolować wydajność i sprawność urządzeń produkcyjnych, monitorować przepływ materiałów czy utrzymywać optymalny ruch. Co jednak z ich bezpieczeństwem? #[br] Tak jak nieustannie podłączone do internetu smartfony stały się doskonałym celem ataków hackerskich, dzięki którym przestępcy pozyskać mogą informacje kluczowe z punktu widzenia biznesowego, tak samo narażone są na nie inne peryferia. Od ładowanych przez USB elektronicznych papierosów czy przenośnych głośników, po inteligentne urządzania wykorzystujące internet rzeczy.
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 16:00-17:00

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 5 października
                            .programmDetails_desc 2017 r., czwartek

