extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt eHealth i mHealth – teleinformatyka w farmacji i medycynie
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Technologie ICT zmieniają farmację i medycynę. Tylko dzięki kilku polskim startupom badanie piersi czy testy wydolnościowe astmy odbywać mogą się w domu pacjenta, a konsultacji dokonują lekarze oddaleni o setki kilometrów. Robotyzacji ulegają też polskie kliniki. Jak teleinformatyka zmienia rynek usług medycznych i powiązany z nim rynek usług ubezpieczeń zdrowotnych? Czy polskie normy prawne nadążają za nowymi technologiami? Jak wykorzystać idące zmiany dla optymalizacji państwowego systemu zdrowia?
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 11:15-12:15

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 6 października
                            .programmDetails_desc 2017 r., piątek

