extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Kto pierwszy znajdzie lukę, czyli o sensie i istocie testów frmowego oprogramowania
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Stworzenie oprogramowania dla swojego przedsiębiorstwa oddajesz w ręce profesjonalnej frmy. Starannie dobierasz ją spośród wielu na rynku, bo chcesz mieć pewność, że fnalny produkt będzie najwyższej klasy. Liczysz na pełną niezawodność systemu. Czy zastanawiałeś się jednak, jak jej dowiedziesz? Sprawdzą to Twoi pracownicy? A może po prostu poprzestaniesz na zapewnianiach producenta? Tak jak uważnie wybierasz frmę programistyczną, tak samo uważnie powinieneś wybrać profesjonalnych testerów. #[br] Na czym polega test frmowego oprogramowania? Jak przebiega krok po kroku? Kiedy i jak często powinien być realizowany? Jakie zagrożenia eliminuje? Jakie są jego koszty?
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 13:00-14:00

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 5 października
                            .programmDetails_desc 2017 r., czwartek

