extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Cyberinnowacje siłą polskiej gospodarki
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Czy cyberinnowacje mają szansę stać się kołem zamachowym polskiej gospodarki? Co zrobić, by rozwinąć ten sektor rynku? Czy rodzime frmy przykładają znaczenie do jakości oprogramowania i systemów informatycznych? Jak wspierać współpracę startupów technologicznych z największymi przedsiębiorstwami? Co jest konieczne, by rodzime frmy weszły w erę Przemysłu 4.0.? Debata największych autorytetów w dziedzinie IT, ekonomii i polityk sektorowych.
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 11:00-12:30

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 5 października
                            .programmDetails_desc 2017 r., czwartek

