extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Pracownik jako słabe ogniwo, czyli błędy ludzkie a cyberbezpieczeństwo frmy
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Włamania do najdoskonalej informatycznie zabezpieczonego systemu najłatwiej dokonać za pośrednictwem człowieka, który z niego korzysta. Użytkownik to najczęściej najsłabsze ogniwo! Jego niewiedza lub ignorancja mogą sprowadzić na frmę niebezpieczeństwo o trudnej do oszacowania skali. Dlatego istotnym elementem dbałości o cyberbezpieczeństwo powinno być szkolenie, a nawet certyfkowanie kadr i uczulanie na wszystkie niejednoznaczne sytuacje. #[br] Które zachowania pracowników narażają frmę na niebezpieczeństwo? Na co zwrócić szczególną uwagę? Jak wypracować standardy postępowania użytkowników w procedurach kluczowych z punktu widzenia bezpieczeństwa IT? Jak skutecznie je implementować w organizacji? #[br] Prezentacje poparte case studies i dyskusja z udziałem ekspertów.
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 17:15-18:15

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 5 października
                            .programmDetails_desc 2017 r., czwartek

