extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Niezawodność IT przewagą konkurencyjną frm usługowych
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Od jakości systemów informatycznych w olbrzymim stopniu zależy doświadczenie, jakiego konsument doznaje w kontakcie z marką (tzw. customer experience). Nieintuicyjnie zaprojektowany interfejs sklepu internetowego czy aplikacji obsługowej, awaria systemu e-rezewacji czy elektronicznego Biura Obsługi skutkują odpływem obecnych i potencjalnych klientów. O niezawodność IT jako kluczu przewagi konkurencyjnej dyskutować będą przedstawiciele frm usługowych i handlowych.
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 13:45-14:45

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 6 października
                            .programmDetails_desc 2017 r., piątek

