extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Współpraca biznesu i państwa na rzecz budowy e-administracji w Polsce
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Z punktu widzenia obywatela e-administracja w Polsce ogranicza się do możliwości elektronicznego złożenia zeznania PIT. Prowadzenie z urzędami e-korespondencji, składanie przez internet pozwów sądowych i wniosków o dokumenty czy dokonywanie zmian w rejestrach to od lat nieurzeczywistniony postulat społeczny. Kolejne polskie rządy z mozołem tworzą dopiero zręby elektronicznego obiegu informacji, który pozwala urzędom korzystać wzajemnie z tworzonych odrębnie baz danych. #[br] Jak przyspieszyć rewolucję cyfrową państwa? Jaki w procesie tym przyjąć model współpracy biznesu i administracji? Na doświadczeniach których państw warto się wzorować? Jak zapewnić bezpieczeństwo operacji dokonywanych w systemie e-państwa?
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 10:00-11:00

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 6 października
                            .programmDetails_desc 2017 r., piątek

