extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .section.programm
            .programm_size
                .programm_title
                    b 5 października 2017 r., czwartek -&nbsp;
                    span Miejsce: Villa Foksal, ul. Foksal 3/5, Warszawa
                .programm_boxes
                    .programm_box
                        .programm_box-title.programm_box-title--blue.js-animate ROZPOCZĘCIE
                        .programm_box-text
                            b 09:00-11:00 -&nbsp;
                            span Rejestracja uczestników
                        .programm_box-text
                            b 11:00-12:30 -&nbsp;
                            span Sesja otwarcia: #[br] Cyberinnowacje siłą polskiej gospodarki?
                                a(href="program_otwarcie.html")
                        .programm_box-text
                            b 12:30-13:00 -&nbsp;
                            span Przerwa kawowa
                    .programm_box
                        .programm_box-title.programm_box-title--purple.js-animate BLOK I: JAKOŚĆ W BIZNESIE
                        .programm_box-text
                            b 13:00-14:00 -&nbsp;
                            span Kto pierwszy znajdzie lukę, czyli o sensie #[br] i istocie testów firmowego oprogramowania
                                a(href="program_kto_pierwszy.html")
                        .programm_box-text
                            b 14:00-14:15 -&nbsp;
                            span Przerwa kawowa
                        .programm_box-text
                            b 14:15-15:15 -&nbsp;
                            span Firma w chmurze, czyli jak bezpiecznie przeprowadzić biznes do świata cyfrowego
                                a(href="program_firma_w_chmurze.html")
                        .programm_box-text
                            b 15:15-16:00 -&nbsp;
                            span Lunch
                    .programm_box
                        .programm_box-title.programm_box-title--hidden BLOK I: JAKOŚĆ W BIZNESIE
                        .programm_box-text
                            b 16:00-17:00 -&nbsp;
                            span Ochrona peryferiów, czyli jak zabezpieczać frmowe urządzenia z dostępem do sieci
                                a(href="program_ochrona_peryferiow.html")
                        .programm_box-text
                            b 17:00-17:15 -&nbsp;
                            span Przerwa kawowa
                        .programm_box-text
                            b 17:15-18:15 -&nbsp;
                            span Pracownik jako słabe ogniwo, czyli błędy ludzkie a cyberbezpieczeństwo firmy
                                a(href="program_pracownik_jako_slabe_ogniwo.html")
                        .programm_box-text
                            b 20:00 -&nbsp;
                            span Uroczysty Bankiet e-Quality Forum Warsaw 2017 #[br] Miejsce: Restauracja Belvedere, Łazienki Królewskie, Warszawa

        .section.programm
            .programm_size
                .programm_title
                    b 6 października 2017 r., piątek -&nbsp;
                    span Miejsce: Villa Foksal, ul. Foksal 3/5, Warszawa
                .programm_boxes
                    .programm_box
                        .programm_box-title.programm_box-title--orange.js-animate BLOK II: JAKOŚĆ I DOŚWIADCZENIE
                        .programm_box-text
                            b 10:00-11:00 -&nbsp;
                            span Współpraca biznesu i państwa na rzecz budowy e-administracji w Polsce
                                a(href="program_wspolpraca_biznesu.html")
                        .programm_box-text
                            b 11:00-11:15 -&nbsp;
                            span Przerwa kawowa
                        .programm_box-text
                            b 11:15-12:15 -&nbsp;
                            span eHealth i mHealth – teleinformatyka w farmacji i medycynie
                                a(href="program_ehealth.html")
                        .programm_box-text
                            b 12:15-12.30 -&nbsp;
                            span Przerwa kawowa
                    .programm_box
                        .programm_box-title.programm_box-title--green.js-animate BLOK III: JAKOŚĆ OD STARTU
                        .programm_box-text
                            b 12:30-13:30 -&nbsp;
                            span Jakość w start-upach teleinformatycznych jako warunek współpracy z korporacjami
                                a(href="program_jakosc_w_start-upach.html")
                        .programm_box-text
                            b 13:30-13:45 -&nbsp;
                            span Przerwa kawowa
                        .programm_box-text
                            b 13:45-14:45 -&nbsp;
                            span Niezawodność IT przewagą konkurencyjną firm usługowych
                                a(href="program_niezawodnosc_it.html")
                        .programm_box-text
                            b 14:45-16:00 -&nbsp;
                            span Lunch
                    .programm_box
                        .programm_box-info Niniejszy program ma charakter ramowy. #[br] Organizator zastrzega sobie możliwość dokonywania w nim zmian.

