extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Jakość w start-upach teleinformatycznych jako warunek współpracy z korporacjami
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Coraz więcej polskich korporacji, wzorem grup międzynarodowych, poszukuje na rynku startupów teleinformatycznych z ciekawymi rozwiązaniami dla swojego obszaru biznesowego. Przejście długiej drogi naboru i akceleracji wymaga jednak spełnienia wielu kryteriów. Wsród nich niewątpliwie kluczowym jest jakość proponowanych rozwiązań teleinformatycznych. Jakie są oczekiwania korporacji czy funduszy venture capitals? Jak powinien przebiegać test jakości proponowanych rozwiązań? Na jakim etapie i przez kogo powinien być realizowany?
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 12:30-13:30

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 6 października
                            .programmDetails_desc 2017 r., piątek

