extends ../Templates/Base

block Declaration
    -fileAlias = 'program'
    -mainMenuPath = ['PROGRAM']

block wMenu

block wContainer
    #fullpage
        .ideaBlock.ideaBlock--bgProgramInner.section
            .ideaBlock_size.ideaBlock_size--sidebar
                h1.ideaBlock_title.ideaBlock_title--small.tlt Firma w chmurze, czyli jak bezpiecznie przeprowadzić biznes do świata cyfrowego
                .ideaBlock_justify
                    .ideaBlock_icon.ideaBlock_icon--book
                    .ideaBlock_text
                        p Coraz większe zbiory frmowej korespondencji, dokumentów, rachunków czy projektów grafcznych przechowywane są w tzw. chmurze. To wygodne rozwiązanie, ułatwiające zarządzanie procesami biznesowymi. Umożliwia udostępnianie danych, organizowanie spotkań czy prowadzenie projektów w trybie online. Upłynnia też wymianę informacji między członkami zespołów. Jednocześnie korzystanie z umieszczonego w chmurze oprogramowania pozwala zmniejszyć koszty instalacji i aktualizacji oprogramowania. Czy chmura jest jednak bezpieczna? Gdzie fzycznie gromadzone są dane frmy? Kto ma do nich dostęp?
                .programmDetails
                    .programmDetails_item.programmDetails_item--conf
                        .programmDetails_title Start wykładu:
                        .programmDetails_text
                            .programmDetails_blue Godzina: 14:15-15:15

                    .programmDetails_item.programmDetails_item--calendar
                        .programmDetails_title Data:
                        .programmDetails_text
                            .programmDetails_blue 5 października
                            .programmDetails_desc 2017 r., czwartek

