extends ../Templates/Base

block Declaration
    -fileAlias = 'registration'
    -mainMenuPath = ['REJESTRACJA']

block wMenu

block wContainer
    #fullpage
        .regBlock.section
            .regBlock_size
                h1.regBlock_title.tlt Rejestracja
                .regBlock_justify
                    .regBlock_left
                        .regBlock_reg
                            .regBlock_reg-title
                                span e-Quality Forum Warsaw 2017
                                .regBlock_reg-price.js-animate
                                    b 543 zł
                                    i netto
                            ul.regBlock_list
                                li.regBlock_list-item Obejmuje udział we wszystkich sesjach i panelach odbywających się #[br] w dn. 5-6.10.2017 r. w Villi Foksal, zgodnie z programem.
                                li.regBlock_list-item Obejmuje udział w lunchach serwowanych w dn. 5-6.10.2017 r. w Villi Foksal, zgodnie z programem.
                                li.regBlock_list-item Obejmuje materiały konferencyjne.
                            .regBlock_footer
                                .regBlock_buttons
                                    a(href="registration1.html").buttons
                                        .buttons_icon.buttons_icon--purple.buttons_icon--cart
                                        .buttons_text kupuję!
                    .regBlock_right
                        .regBlock_reg
                            .regBlock_reg-title
                                span e-Quality Forum Warsaw 2017 & Uroczysty Bankiet w Belvedere
                                .regBlock_reg-price.js-animate
                                    b 987 zł
                                    i netto
                            ul.regBlock_list
                                li.regBlock_list-item Obejmuje udział we wszystkich sesjach i panelach odbywających się #[br] w dn. 5-6.10.2017 r. w Villi Foksal, zgodnie z programem.
                                li.regBlock_list-item Obejmuje udział w lunchach serwowanych w dn. 5-6.10.2017 r. w Villi Foksal, zgodnie z programem.
                                li.regBlock_list-item Obejmuje materiały konferencyjne.
                                li.regBlock_list-item Obejmuje zaproszenie na uroczysty bankiet wieczorny w Restauracji Belvedere w dn. 5.10.2017 r., w ramach którego serwowana jest kolacja i open bar z najlepszymi alkoholami.
                            .regBlock_footer
                                .regBlock_shortInfo Uwaga, e-Quality Forum Warsaw 2017 ma charakter butikowy, liczba gości jest więc ograniczona!
                                .regBlock_buttons
                                    a(href="registration1.html").buttons
                                        .buttons_icon.buttons_icon--purple.buttons_icon--cart
                                        .buttons_text kupuję!
                                    a(href="registrationcode.html").buttons.buttons--big
                                        .buttons_icon.buttons_icon--blue.buttons_icon--ticket
                                        .buttons_text mam zaproszenie
    //#fullpage
        .regBlock.section
            .my_size
                h1.regBlock_title Rejestracja na e-Quality Forum Warsaw 2017 uruchomiona zostanie wkrótce.