.breadcrumbs(xmlns:v='http://rdf.data-vocabulary.org/#')
		span(typeof='v:Breadcrumb')
				a(rel='v:url', property='v:title', href='/') Главная
		span(typeof='v:Breadcrumb')
				a(rel='v:url', property='v:title', href='/') Личный кабинет
		span.curr(typeof='v:Breadcrumb') Личный счет