-var minFiles = locals.production? '.min':''
link(rel="shortcut icon",href="favicon.ico")
link(rel="stylesheet", property="stylesheet", href="css/components"+minFiles+".css")
link(rel="stylesheet", property="stylesheet", href="css/style"+minFiles+".css")
='\n'
