//- подключение внешних css файлов
block FooterExternalCss
//- подключение внешних js файлов
block FooterExternalJs

= '\n'
//- доп. блок
block bottomBlock
    block HeadExternalJs
        include ExternalJs