ul.pagination(role='navigation', itemscope='', itemtype='http://schema.org/SiteNavigationElement')
		li.active(itemprop='url')
				a(href='#', itemprop='name') 1
		li(itemprop='url')
				a(href='#', itemprop='name') 2
		li(itemprop='url')
				a(href='#', itemprop='name') 3
		li(itemprop='url')
				a(href='#', itemprop='name') 4