.container4_partners
    .container4_partnersLine.container4_partnersLine--full.owl-carousel
        .partnersCarousel
            a(href="partner_soflab.html").container4_partner
                img(src="images/partners/small/soflab.jpg")

            a(href="partner_woodpecker.html").container4_partner
                img(src="images/partners/small/woodpecker.jpg")

            a(href="partner_verint.html").container4_partner
                img(src="images/partners/small/verint.png")

            a(href="partner_kanbo.html").container4_partner
                img(src="images/partners/small/kanbo.png")

            a(href="partner_callpage.html").container4_partner
                img(src="images/partners/small/callpage.jpg")

            a(href="partner_bluemedia.html").container4_partner
                img(src="images/partners/small/bluemedia.png")

            a(href="partner_uia.html").container4_partner
                img(src="images/partners/small/uia.jpg")

            a(href="partner_careerpartners.html").container4_partner
                img(src="images/partners/small/careerpartners.jpg")

            a(href="partner_zafran.html").container4_partner
                img(src="images/partners/small/zafran.jpg")

            a(href="partner_widzialni.html").container4_partner
                img(src="images/partners/small/widzialni.png")


        .partnersCarousel

            a(href="partner_kig.html").container4_partner
                img(src="images/partners/small/kig.png")

            a(href="partner_biznes-gov-pl.html").container4_partner
                img(src="images/partners/small/biznes.png")

            a(href="partner_cifal.html").container4_partner
                img(src="images/partners/small/cifal.png")

            a(href="partner_unitar.html").container4_partner
                img(src="images/partners/small/unitar.png")

            a(href="partner_plock.html").container4_partner
                img(src="images/partners/small/plock.png")

            a(href="partner_eneia.html").container4_partner
                img(src="images/partners/small/eneia.jpg")

            a(href="partner_puig.html").container4_partner
                img(src="images/partners/small/puig.jpg")

            a(href="partner_pbc.html").container4_partner
                img(src="images/partners/small/pbc.jpg")

            a(href="partner_ubc.html").container4_partner
                img(src="images/partners/small/ubc.jpg")

            a(href="partner_ptig.html").container4_partner
                img(src="images/partners/small/ptig.png")

        .partnersCarousel
            a(href="partner_evenema.html").container4_partner
                img(src="images/partners/small/evenema.jpg")

    .container4_partnersLine.container4_partnersLine--mobile.owl-carousel
        .partnersCarousel
            a(href="partner_soflab.html").container4_partner
                img(src="images/partners/small/soflab.jpg")

            a(href="partner_kanbo.html").container4_partner
                img(src="images/partners/small/kanbo.png")

            a(href="partner_callpage.html").container4_partner
                img(src="images/partners/small/callpage.jpg")

            a(href="partner_bluemedia.html").container4_partner
                img(src="images/partners/small/bluemedia.png")

            a(href="partner_careerpartners.html").container4_partner
                img(src="images/partners/small/careerpartners.jpg")

            a(href="partner_zafran.html").container4_partner
                img(src="images/partners/small/zafran.jpg")

            a(href="partner_widzialni.html").container4_partner
                img(src="images/partners/small/widzialni.png")

            a(href="partner_kig.html").container4_partner
                img(src="images/partners/small/kig.png")

            a(href="partner_biznes-gov-pl.html").container4_partner
                img(src="images/partners/small/biznes.png")

            a(href="partner_cifal.html").container4_partner
                img(src="images/partners/small/cifal.png")

            a(href="partner_unitar.html").container4_partner
                img(src="images/partners/small/unitar.png")

            a(href="partner_plock.html").container4_partner
                img(src="images/partners/small/plock.png")

            a(href="partner_eneia.html").container4_partner
                img(src="images/partners/small/eneia.jpg")

            a(href="partner_puig.html").container4_partner
                img(src="images/partners/small/puig.jpg")

            a(href="partner_pbc.html").container4_partner
                img(src="images/partners/small/pbc.jpg")

            a(href="partner_ubc.html").container4_partner
                img(src="images/partners/small/ubc.jpg")

            a(href="partner_ptig.html").container4_partner
                img(src="images/partners/small/ptig.png")

            a(href="partner_evenema.html").container4_partner
                img(src="images/partners/small/evenema.jpg")