.head
    a.head_logo(href='/')
        img(src="images/logo.png")
    include wMenu
    //.head_lang
        a(href="#").is-active PL
        | /
        a(href="#") EN
    .head_info
        .head_info-textBlock
            .head_info-text.head_info-text--small e-Quality Forum Warsaw 2017
            .head_info-text 5-6 października 2017 r.
        //.head_info-socials
            a(href="#",target="_blank",rel="nofollow").head_info-soc.head_info-soc--facebook
            a(href="#",target="_blank",rel="nofollow").head_info-soc.head_info-soc--linkedin
    .js-openMenu